html {
    background-color: beige;
}

footer {
    background-color: burlywood;
    padding: 24px;
}

body {
    margin: 0;
}

header{
    padding: 24px;
}

.book-cover {
    width: 200px;
    height: auto;
}

.main-page-book-review {
    background-color: white;
    border: 1px solid lightblue;
    padding: 24px;
}

main {
    max-width: 800px;
}

.book-rating {
    font-size: 125%;
}

